#
#   CONFIGURATION FILE FOR CMSSM.py master.
#
# Test config file for PySUSY3
#
[sampleroptions]
#-----------------------------------------------------------------------
# Sampler options. Currently only multinest is enabled so these are
# multinest options. Only options I considered that I may want to change
# are set here, more are set at the next config level down.
#-----------------------------------------------------------------------
# Number of live points to use
nlive = 5000
#evidence tolerance factor (controls allowed error in evidence, scan stops faster if this tolerance is higher. Use 1e-4 for detailed likelihood function mapping)
tol = 0.1                    
#enlargement factor reduction parameter (I set this really low to tell the code to relax the bounding ellipsoids, to help avoid missing points. At least, I think this is what should happen)
efr = 0.8
#no. of parameters to cluster (for mode detection)
#NOTE: Must check in next config level down to see order of parameters,
#in order to tell which set of parameters will be clustered by this.
ncdims = 2
#max modes expected, for memory allocation
maxmodes = 20               
#no. of iterations after which the ouput files should be updated
updint = 100
#-----------------------------------------------------------------------

[list]
#-----------------------------------------------------------------------
# Settings for using list sampling mode
#-----------------------------------------------------------------------
# Activates list sampling mode (disables multinest, requires input list)
listmode = false
#inputlist = /short/y36/pysusyOUT/CMSSMev/SuSSIMO12ui50nl2ktol1e-4n16-26:08:11-.txt
# Specify columns of inputlist file which contain the input variables
#M0 = 3
#M12 = 4
#TanB = 5
#A0 = 6
#MTop = 7
#-----------------------------------------------------------------------

[prioroptions]
#-----------------------------------------------------------------------
# Options for setting up the prior for the scan (and other param values)
#-----------------------------------------------------------------------
# Setup template SLHA file to use for input to spectrum generator:
# path and filename of template file relative to pysusy root
templatefile = config/mSUGRA_templateSLHA_sgnmu=+1_nonuis.dat
# use log priors for M0/M12 parameters (default is flat, other 
# parameters will have flat priors
uselog = false
# use an "effective" prior (valid values are None,CCRprior)
# NOTE, must match 'scan' prior as Jacobian must match. CCRprior requires
# FLAT 'scan' prior.
effprior = CCRprior
# range settings for priors, in GeV where units apply
M0range = (10,2000)
M12range = (10,2000)
TanBrange = (0,62)
A0range = (-3000,4000)
# mean and std for nuisance parameters (they have gaussian priors)
Mtopmeanstd = (172.9,1.1)
#-----------------------------------------------------------------------

[progoptions]
#-----------------------------------------------------------------------
# Options related to choosing the programs for the run sequence
#-----------------------------------------------------------------------
# For 'spectrumgenerator' valid options are: ISAJET, SoftSUSY, SPheno, SuSpect
# Paths must be set relative to pysusy root directory, regardless of
# config file location. Absolute paths also ok. Paths not required if
# program not being used.
spectrumgenerator = ISAJET
specpath = ../ISAJET_7.81
useSuperISO = true
SuperISOpath = ../superiso_v3.1
usemicrOmegas = true
micrOmegaspath = ../micromegas_2.4.Q
useClassifier = false
Classifierpath = ../MartinATLAS
useHDecay = true
HDecaypath = ../hdecay_ratio
#-----------------------------------------------------------------------

[obsoptions]
#-----------------------------------------------------------------------
# Options to be fed to the observables module, to control which
# observables are to be included in the likelihood function. Those not
# used will still be computed and output but will not guide the scan
# or contribute to the posterior
#-----------------------------------------------------------------------
# use LEP higgs mass limits
useHiggs = true
# use ATLAS sparticle search constraints
useATLASsparticle = true
# use LHC higgs mass and production cross-section measurements
useLHCHiggs = true
# use Xenon100 proton-WIMP cross section limits
useDMdirect = true
# assume WIMPs make up 100% of dark matter (false assumes other components exist)
centralreliclimit = true
#-----------------------------------------------------------------------

[likefunc]
#-----------------------------------------------------------------------
# Switches for turning off pieces of the likelihood function. If set to 
# false, values will still be computed but not added to total
# loglikelihood.
useMW = false
usedeltarho = true
useomegah2 = true
usedeltaamu = true
#-----------------------------------------------------------------------
